.Web-Page {
  width: 100%;
  height:fit-content;
  background-color: rgb(130, 157, 148);
  border-radius: 30px 30px;
}
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.logo  {
  display: flex;
  align-items: center;

}
.logo h1 {
  color: aliceblue;
  padding: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 30px 30px 0px 0px;
  position: sticky;
  top: 0%;
}
.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 17px;

}
.nav-list a:hover{
background-color: aliceblue;
color: #333;
border-radius: 10px;
padding: 5px 10px 5px 10px;
}
.menu-toggle {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
}

.line {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
}

/* Responsive Styles */
@media only screen and (max-width: 767px) {
  .logo h1 {
    display: none;
  }
  .nav-list {
      display: none; /* Hide the navigation links */
      flex-direction:row;
      justify-content: center;
      margin: auto;
      width: 90%;
      background-color: #333;
      position: absolute;
      top: 80px; /* Adjust based on navbar height */
      left: 0%;
      right: 0%;
      
  }
  .nav-list.active {
      display: flex; /* Show the navigation links when active */
  }

  .menu-toggle {
      display: flex; /* Show the hamburger icon */
  }
}
.Home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(183, 185, 185);
  padding: 40px;
}
.Home_left h1 {
  color: aliceblue;
  font-size: 30px;
}
.Home_left span {
  color:red;
}
.Home_left a {
  background: red;
  color: aliceblue;
  font-size: 25px solid white;
  border: 0cap;
  padding: 5px 5px;
  border-radius: 5px;
  text-decoration: none;
  
}
.Home_right img {
   width: 300px;
   height: 300px;
   border-radius: 30px ;
}
.Footer {
  width: 100%;
  height: 100px;
  background-color:  rgb(110, 143, 132);
  border-radius: 0px 0px 30px 30px;
}
.Footer a {
  font-size: 30px;
  padding: 20px;
  float: inline-start;
  color: black;
}
