.App h1 {
    display: flex;
    justify-content: center;
    color: red;
}
.project-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}


.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1em;
    margin-bottom: 15px;
}

.project-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}